{% set title = "Блог" %}

{% extends "base.html" %}

{% block content %}
<h1 align="center">{{tag.name}}</h1>
<h2>Связанные записи:</h2>
{% for post in posts.items %}
<div class="card mb-3">
    {% if post.img %}
        <img class="card-img-top" src="{{post.img.path}}" alt="Card image cap">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.text|truncate}}</p>
       <a href="{{url_for('posts.post_detail', slug=post.slug)}}" class="btn btn-primary">Перейти</a>

    <div class="row">
        <p class="card-text"><small class="text-muted">{{post.date.strftime("%Y %m %d %H:%M")}}</small></p>
        <div class="bd-example">
            {% for tag in post.tags[:5] %}
                <a href="{{url_for('posts.tag_detail', slug=tag.slug)}}" class="badge badge-info">{{tag.name}}</a>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endfor %}
{% if posts.total %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {%if not posts.has_prev %}disabled{% endif %}">
            <a class="page-link" href="./?page={{posts.prev_num}}" tabindex="-1"
               aria-disabled="true">Предыдущая</a>
        </li>
        {% for page in posts.iter_pages() %}
        <li class="page-item"><a
                class="page-link {% if page == posts.page %} active {% endif %}"
                href="./?page={{page}}">{{page}}</a></li>
        {% endfor %}
        <li class="page-item {%if not posts.has_next %}disabled{% endif %}">
            <a class="page-link"
               href="./?page={{posts.next_num}}">Следующая</a>
        </li>
    </ul>
</nav>
{% else %}
<h2>Извините, на нашем сайте пока нет записей</h2>
{% endif %}

{% endblock %}